@model Tutorial_ASP_NET_MVC.Models.Videojuego

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Videojuego</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pegi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pegi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaLanzamiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaLanzamiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consola)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consola.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
